<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374877402886-16vl432h8pnq1krc5jjphuj1qvrn35qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374877402886-16vl432h8pnq1krc5jjphuj1qvrn35qg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>374877402886-khnq80s85cr1m6pfhbgj28snk9g0pvcv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1yg4-5iWZriACpQNPNV1AP6wHsG-Y2UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>374877402886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khaled.samplenumber</string>
	<key>PROJECT_ID</key>
	<string>samplenumber-ada82</string>
	<key>STORAGE_BUCKET</key>
	<string>samplenumber-ada82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374877402886:ios:83638046737f1a846b1087</string>
</dict>
</plist>